.pop_ups{width:700px;height:588px;background:#fff;border-radius:3px;margin:100px auto 0;}
.pop_ups .pop_top{width:100%;height:51px;border-bottom:1px solid #ececec;line-height:50px;}
.pop_ups .pop_top .name{font-size:16px;color:#333;font-weight:bold;margin-left:20px;}
.pop_ups .pop_top .btn{display:block;float:right;width:16px;height:16px;background:url(../images/icon_close_1.png)no-repeat center/cover;margin:20px 20px 0 0;}

.pop_ups .pop_center ul li{width:100%;height:auto;}
.pop_ups .pop_center ul li .manner{width:120px;margin-right:25px;font-size:16px;color:#333;text-align:right;float:left;}
.pop_ups .pop_center ul li .select{float:left;}
.pop_ups .pop_center ul li:first-child{margin-top:22px;}
.pop_ups .pop_center ul li:not(:nth-child(2)) .manner{height:34px;line-height:34px;}
.pop_ups .pop_center ul li:first-child .select{width:500px;height:34px;border:1px solid #ccc;border-radius:3px;}
.pop_ups .pop_center ul li:first-child .select select{width:100%;height:100%;border-radius:3px;font-size:15px;color:#333;padding-left:13px;appearance:none;-moz-appearance:none;-webkit-appearance:none;background:url(../images/icon_but_arrow.png)no-repeat 480px center;}
.pop_ups .pop_center ul li:not(:first-child){margin-top:15px;}
.pop_ups .pop_center ul li:nth-child(2) .select>div{margin-bottom:15px;}
.pop_ups .pop_center ul li:nth-child(2) .select>div:last-child{margin-bottom:0;}
.pop_ups .pop_center ul li:nth-child(2) .select>div input{appearance:none;-moz-appearance:none;-webkit-appearance:none;width:18px;height:18px;background:url(../images/checked.png)no-repeat;vertical-align:middle;}
.pop_ups .pop_center ul li:nth-child(2) .select>div input[type=radio]:checked{background:url(../images/checkbox.png)no-repeat;}
.pop_ups .pop_center ul li:nth-child(2) .select>div label{vertical-align: middle;margin-left:10px;}
.pop_ups .pop_center ul li:nth-child(3) .select input,.pop_ups .pop_center ul li:nth-child(4) .select input{width:500px;height:34px;border:1px solid #ccc;border-radius:3px;padding-left:15px;line-height:32px;}

.pop_ups .pop_bottom{width:100%;height:auto;border-top:1px solid #e5e5e5;margin-top:45px;padding-top:20px;}
.pop_ups .pop_bottom a{float:right;width:96px;height:36px;font-size:16px;color:#fff;letter-spacing:5px;text-align:center;line-height:36px;border-radius:3px;padding-left:5px;}
.pop_ups .pop_bottom a:first-child{background:#1c84c6;margin:0 20px 0 15px;}
.pop_ups .pop_bottom a:last-child{background:#c2c2c2;}
















