.pop_ups .pop_center ul li:nth-child(7) input{background:url(../images/icon_but_arrow.png)no-repeat 480px center;}
.pop_ups .pop_center ul li:nth-child(7) .select>div:nth-child(2) input{margin-top:5px;}
.pop_ups .pop_center ul li:last-child .select{padding-top:0;}
.pop_ups .pop_center ul li:last-child .select input{width: 500px;height: 34px;border: 1px solid #ccc;border-radius: 3px;font-size: 15px;color: #999;line-height: 32px;padding-left: 15px;}


