.content .box .btn{display:inline-block;width:auto;height:40px;border:1px solid #bcbcbc;border-radius:3px;position:relative;}
.content .box .btn>div{width:auto;height:100%;border-right:1px solid #bcbcbc;}
.content .box .btn>div:nth-child(4){border-right:0;}
.content .box .btn>div a{display:block;width:100%;height:100%;line-height:38px;padding-left:30px;text-align:left;font-size:14px;color:#000;}
.content .box .btn>div:first-child a{background:url(../images/icon_add.png)no-repeat 13px center;padding-right:15px;}
.content .box .btn>div:nth-child(2) a{background:url(../images/icon_pen.png)no-repeat 13px center;padding-right:15px;}
.content .box .btn>div:nth-child(3) a{background:url(../images/icon_notes.png)no-repeat 13px center;padding-right:15px;}
.content .box .btn>div:nth-child(4) a{background:url(../images/icon_delete.png)no-repeat 13px center;padding-right:15px;}

.content .box .btn .inquire{position:absolute;right:-295px;}
.content .box .btn .inquire input[type=text]{width:195px;height:40px;border:1px solid #ccc;border-right:0;border-top-left-radius:3px;border-bottom-left-radius:3px;padding-left:10px;background:#fafafa;font-size:14px;float:left;}
.content .box .btn .inquire input[type=submit]{width:90px;height:40px;background:#1890ff url(../images/icon_inquire.png)no-repeat 18px center;font-size:16px;color:#FFF;border-top-right-radius:3px;border-bottom-right-radius:3px;padding-left:40px;text-align:left;cursor:pointer;float:left;}

.content .box .btn>div:not(:last-child) a:hover{color:#fff;}
.content .box .btn>div:nth-child(1) a:hover{background:#1890ff url(../images/icon_add_b.png)no-repeat 13px center;}
.content .box .btn>div:nth-child(2) a:hover{background:#1890ff url(../images/icon_pen_b.png)no-repeat 13px center;}
.content .box .btn>div:nth-child(3) a:hover{background:#1890ff url(../images/icon_notes_b.png)no-repeat 13px center;}
.content .box .btn>div:nth-child(4) a:hover{background:#1890ff url(../images/icon_delete_b.png)no-repeat 13px center;}


.content .box .recording .id{width:60px;}
.content .box .recording .phone{width:140px;}
.content .box .recording .s_name{width:130px;}
.content .box .recording .number{width:200px;}
.content .box .recording .idcard{width:250px;}
.content .box .recording .status{width:150px;}

.content .box .recording .status .by{display:block;width:92px;height:30px;background:#d15c47;font-size:15px;color:#fff;text-align:center;line-height:30px;margin-top:10px;border-radius:3px;}
.content .box .recording .status .n_by{display:block;width:92px;height:30px;background:#1ab394;font-size:15px;color:#fff;text-align:center;line-height:30px;margin-top:10px;border-radius:3px;}


.pop_ups{width:700px;height:auto;background:#fff;border-radius:3px;padding-bottom:20px;margin-left: -350px;}
.pop_ups .pop_top{width:100%;height:51px;border-bottom:1px solid #ececec;line-height:50px;}
.pop_ups .pop_top .name{font-size:16px;color:#333;font-weight:bold;margin-left:20px;}
.pop_ups .pop_top .btn{display:block;float:right;width:16px;height:16px;background:url(../images/icon_close_1.png)no-repeat center/cover;margin:20px 20px 0 0;}

.pop_ups .pop_center{padding-top:22px;}
.pop_ups .pop_center ul li{width:100%;height:auto;margin-bottom:15px;}
.pop_ups .pop_center ul li>div{float:left;}
.pop_ups .pop_center ul li .manner{width:120px;height:34px;line-height:34px;text-align:right;margin-right:25px;font-size:16px;color:#333;}
.pop_ups .pop_center ul li:not(:last-child) .select input{width:500px;height:34px;border:1px solid #ccc;border-radius:3px;font-size:15px;color:#999;line-height:32px;padding-left:15px;}
.pop_ups .pop_center ul li:last-child .select{padding-top:10px;}
.pop_ups .pop_center ul li:last-child .select input{width:14px;height:14px;vertical-align: middle;margin-right:10px;}
.pop_ups .pop_center ul li:last-child .select label{font-size:15px;color:#333;margin-right:20px;}



.pop_ups .pop_bottom{width:100%;height:auto;border-top:1px solid #e5e5e5;margin-top:45px;padding-top:20px;}
.pop_ups .pop_bottom button{float:right;width:96px;height:36px;font-size:16px;color:#fff;letter-spacing:5px;text-align:center;line-height:36px;border-radius:3px;padding-left:5px;}
.pop_ups .pop_bottom button:first-child{background:#1c84c6;margin:0 20px 0 15px;}
.pop_ups .pop_bottom button:last-child{background:#c2c2c2;}


/*.pop_ups .pop_center ul li:nth-child(7) input{background:url(../images/icon_but_arrow.png)no-repeat 480px center;}*/
.pop_ups .pop_center ul li:nth-child(7) .select>div:nth-child(2) input{margin-top:5px;}
.pop_ups .pop_center ul li:last-child .select{padding-top:0;}
.pop_ups .pop_center ul li:last-child .select input{width: 500px;height: 34px;border: 1px solid #ccc;border-radius: 3px;font-size: 15px;color: #999;line-height: 32px;padding-left: 15px;}





.pop_ups .pop_center ul li:first-child .select{width:500px;height:34px;border-radius:3px;}
.pop_ups .pop_center ul li:first-child .select select{width:100%;height:100%;border-radius:3px;font-size:15px;color:#333;padding-left:13px;appearance:none;-moz-appearance:none;-webkit-appearance:none;background:url(../images/icon_but_arrow.png)no-repeat 480px center;}
.pop_ups .pop_center ul li:nth-child(2),.pop_ups .pop_center ul li:nth-child(3){margin-top:15px;}
.pop_ups .pop_center ul li:nth-child(2) .select textarea{width:500px;height:88px;border:1px solid #ccc;border-radius:3px;resize:none;padding:10px;font-size:15px;color:#333;}

.pop_ups .pop_center ul li:nth-child(3) .select input{width:500px;height:34px;border:1px solid #ccc;border-radius:3px;line-height:32px;padding-left:10px;}

.pop_ups .pop_bottom{width:100%;height:auto;border-top:1px solid #e5e5e5;margin-top:45px;padding-top:20px;}
.pop_ups .pop_bottom button{float:right;width:96px;height:36px;font-size:16px;color:#fff;letter-spacing:5px;text-align:center;line-height:36px;border-radius:3px;padding-left:5px;}
.pop_ups .pop_bottom button:first-child{background:#1c84c6;margin:0 20px 0 15px;}
.pop_ups .pop_bottom button:last-child{background:#c2c2c2;}


.popupBtnDiv {padding: 20px;text-align: right;border-top: 1px solid #ececec;}
.popupBtnDiv button {width: 96px;height: 36px;margin-left: 15px;border-radius: 3px;color: #fff;font-size: 16px;background-color: #1890FF;}
.popupBtnDiv button.cancel {background-color: #c2c2c2;}



.allocatePopup{width: 600px;margin-left: -300px;}
.allocatePopup .pop_center{padding: 20px 0;}
.allocatePopup .pop_center ul li {width: 100%;height: auto;margin-bottom: 15px;}
.allocatePopup .pop_center ul li .manner {float: left;width: 120px;height: 34px;line-height: 34px;text-align: right;margin-right: 25px;font-size: 16px;color: #333;}
.allocatePopup .pop_center ul li .select {padding-top: 10px;}
.allocatePopup .pop_center ul li .select input {width: 18px;height: 18px;appearance: none;-moz-appearance: none;-webkit-appearance: none;border: 0;background: url(../images/checked.png)no-repeat;margin-right: 5px;vertical-align: middle;}
.allocatePopup .pop_center ul li .select input[type=checkbox]:checked {background: url(../images/checkbox.png)no-repeat;}
.allocatePopup .pop_center ul li .select label {margin-right: 15px;}



@media only screen and (max-width: 1366px) {

    .content .box .btn,
    .content .box .btn>div a,
    .content .box .btn .inquire input[type=text],
    .content .box .btn .inquire input[type=submit]{height: 30px;line-height: 28px;font-size: 14px;}

    .content .box .recording .status .by,
    .content .box .recording .status .n_by{margin-top: 3px;height: 28px;line-height: 28px;font-size: 14px;}


    .pop_ups .pop_center ul li,
    .pop_ups .pop_center ul li:nth-child(2),
    .pop_ups .pop_center ul li:nth-child(3){margin:0 0 .5rem;}

    .pop_ups .pop_center ul li .manner,
    .pop_ups .pop_center ul li:first-child .select{line-height: 30px;font-size: 14px;}
    .pop_ups .pop_center ul li:not(:last-child) .select input{height: 30px;}



    .pop_ups{padding-bottom: 1rem;}
    .pop_ups .pop_bottom{padding-top: 1rem;margin-top: 1.5rem;}



















}
