.pop_ups{width:700px;height:auto;margin:100px auto 0;background:#fff;border-radius:3px;padding-bottom:20px;}
.pop_ups .pop_top{width:100%;height:51px;border-bottom:1px solid #ececec;line-height:50px;}
.pop_ups .pop_top .name{font-size:16px;color:#333;font-weight:bold;margin-left:20px;}
.pop_ups .pop_top .btn{display:block;float:right;width:16px;height:16px;background:url(../images/icon_close_1.png)no-repeat center/cover;margin:20px 20px 0 0;}

.z_center{padding:30px 0 0 60px;}
.z_center>div,.z_center>ul li{font-size:12px;color:#333;}
.z_center .dv1{width:auto;height:17px;background:url(../images/icon_11.jpg)no-repeat left center;padding-left:40px;line-height:17px;cursor:pointer;}
.z_center ul li{width:auto;height:21px;background:url(../images/icon_12.jpg)no-repeat 6px center;padding-left:40px;line-height:21px;}
.z_center .dv2{width:auto;height:17px;background:url(../images/icon_10.jpg)no-repeat left center;padding-left:40px;line-height:17px;cursor:pointer;}


.pop_ups .pop_bottom{width:100%;height:auto;border-top:1px solid #e5e5e5;margin-top:45px;padding-top:20px;}
.pop_ups .pop_bottom a{float:right;width:96px;height:36px;font-size:16px;color:#fff;letter-spacing:5px;text-align:center;line-height:36px;border-radius:3px;padding-left:5px;}
.pop_ups .pop_bottom a:first-child{background:#1c84c6;margin:0 20px 0 15px;}
.pop_ups .pop_bottom a:last-child{background:#c2c2c2;}































