.content .box .btn{width:427px;height:40px;border:1px solid #bcbcbc;border-radius:3px;}
.content .box .btn>div{width:auto;height:100%;border-right:1px solid #bcbcbc;}
.content .box .btn>div:last-child{border-right:0;}
.content .box .btn>div a{display:block;width:100%;height:100%;line-height:38px;padding-left:30px;text-align:left;font-size:14px;color:#000;}
.content .box .btn>div:first-child a{background:url(../images/icon_add.png)no-repeat 13px center;padding-right:15px;}
.content .box .btn>div:nth-child(2) a{background:url(../images/icon_pen.png)no-repeat 13px center;padding-right:15px;}
.content .box .btn>div:nth-child(3) a{background:url(../images/icon_ck.png)no-repeat 13px center;padding-right:15px;}
.content .box .btn>div:nth-child(4) a{background:url(../images/icon_jg.png)no-repeat 13px center;padding-right:15px;}
.content .box .btn>div:nth-child(5) a{background:url(../images/icon_delete.png)no-repeat 13px center;padding-right:15px;}
.content .box .btn>div a:hover{color: #fff;}
.content .box .btn>div:first-child a:hover{background:#1890FF url(../images/icon_add_b.png)no-repeat 13px center;padding-right:15px;}
.content .box .btn>div:nth-child(2) a:hover{background:#1890FF url(../images/icon_pen_b.png)no-repeat 13px center;padding-right:15px;}
.content .box .btn>div:nth-child(3) a:hover{background:#1890FF url(../images/icon_ck_b.png)no-repeat 13px center;padding-right:15px;}
.content .box .btn>div:nth-child(4) a:hover{background:#1890FF url(../images/icon_jg_b.png)no-repeat 13px center;padding-right:15px;}
.content .box .btn>div:nth-child(5) a:hover{background:#1890FF url(../images/icon_delete_b.png)no-repeat 13px center;padding-right:15px;}


.content .box .recording .id{width:140px;}
.content .box .recording .title .name,.content .box .recording .list .name{width:310px;}

.pop_ups{width:700px;height:auto;background:#fff;border-radius:3px;padding-bottom:20px;margin-left: -350px;}
.pop_ups .pop_top{width:100%;height:51px;border-bottom:1px solid #ececec;line-height:50px;}
.pop_ups .pop_top .name{font-size:16px;color:#333;font-weight:bold;margin-left:20px;}
.pop_ups .pop_top .btn{display:block;float:right;width:16px;height:16px;background:url(../images/icon_close_1.png)no-repeat center/cover;margin:20px 20px 0 0;}

.privilegesDiv{height: 350px;margin: 0 35px;padding: 35px 20px;overflow-y: scroll;}
.privilegesDiv>ul ul{display: none;}
.privilegesDiv li{padding-left: 17px;position: relative;}
.privilegesDiv li:not(:last-child){border-left: 1px dashed #666;}
.privilegesDiv li:not(:last-child):before{content: '';position: absolute;top: 10px;left: 0;width: 13px;border-bottom: 1px dashed #666;}
.privilegesDiv li:last-child:before{content: '';position: absolute;top: 0;left: 0;width: 11px;height: 11px;border-bottom: 1px dashed #666;border-left: 1px dashed #666;}
.privilegesDiv li p{font: 12px/20px 'Microsoft YaHei';background: url("../images/icon_file.png") no-repeat left;padding-left: 1.2rem;}
.privilegesDiv li p.menuLevel{background: url("../images/icon_paperFile.png") no-repeat left;}
.privilegesDiv .absToggle{position: absolute;top: 3px;left: -7px;width: 14px;height: 14px;border: 1px solid #333;z-index: 1;text-align: center;line-height: 11px;font-size: 11px;cursor: pointer;}
.privilegesDiv .absToggle:not(.show){background:#fff url("../images/icon_notShow.png") no-repeat center;}
.privilegesDiv .absToggle.show{background:#fff url("../images/icon_show.png") no-repeat center;}

.pop_ups .pop_center{padding-top:22px;}
.pop_ups .pop_center ul li{width:100%;height:auto;margin-bottom:15px;}
.pop_ups .pop_center ul li>div{float:left;}
.pop_ups .pop_center ul li .manner{width:120px;height:34px;line-height:34px;text-align:right;margin-right:25px;font-size:16px;color:#333;}
.pop_ups .pop_center ul li .select input{width:500px;height:34px;border:1px solid #ccc;border-radius:3px;font-size:15px;color:#999;line-height:32px;padding-left:15px;}



.pop_ups .pop_bottom{width:100%;height:auto;border-top:1px solid #e5e5e5;margin-top:45px;padding-top:20px;}
.pop_ups .pop_bottom button{float:right;width:96px;height:36px;font-size:16px;color:#fff;letter-spacing:5px;text-align:center;line-height:36px;border-radius:3px;padding-left:5px;}
.pop_ups .pop_bottom button:first-child{background:#1c84c6;margin:0 20px 0 15px;}
.pop_ups .pop_bottom button:last-child{background:#c2c2c2;}

@media only screen and (max-width: 1366px) {

    .content .box .btn,
    .content .box .btn>div a{height: 30px;line-height: 28px;}














}